@{
    ViewData["Title"] = "Home Page";
}
<div class="input-group mb-3">
    <input id="number" type="text" class="form-control" placeholder="Number">
    <a id = "linkToTelegram" href="" class="btn btn-primary btn-lg btn-block" target="_blank">Confirm number by telegram</a>
</div>